/* Шрифты используемые в макете */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

/* Стили */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100%;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.conteiner{
    max-width: 682px;
    padding: 0px 10px;
    margin: 0 auto;
}
.header {
}
.main {
    flex: 1 1 auto;
}

/* *=====================* DOR PAGE WORKS *=====================* */
.works {
    font-family: Heebo;
}
.works__title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* Dark Color */
    color: #21243D;
}
.works__list {
}
.item-work {
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    padding: 50px 0px;
}
@media (max-width: 600px) {
    .item-work {
        flex-direction: column;
    }
}
.item-work__photo {
    max-width: 250px;
    flex: 0 0 auto;
}
@media (max-width: 600px) {
    .item-work__photo {
        max-width: none;
    }
}
.item-work__photo img{
    width: 100%;
}
.item-work__content {
    padding-left: 20px;
}
@media (max-width: 600px) {
    .item-work__content {
        padding-left: 0px;
    }
}
.item-work__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    /* Dark Color */
    color: #21243D;
}
.item-work__subtitle {
    margin-top: 15px;
}
.item-work__date {
    background: #142850;
    border-radius: 16px;
    padding: 0px 10px;
    margin-right: 25px;
    display: inline-block;
    /*  */
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    /* line-height: 5px; */
    color: #FFFFFF;
}
.item-work__tag {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}
.item-work__text {
    margin-top: 18px;
}




/* *=====================* FOOTER *=====================* */
.footer {
    margin-top: 100px;
    margin-bottom: 55px;
}
.footer-info {
}
.footer-info__social {
    text-align: center;
    margin-bottom: 26px;
}
.footer-info__social a{
    margin-left: 36px;
    text-decoration: none;
}
.footer-info__social a:nth-child(1){
    margin-left: 0;
}
.footer-info__subtitle {
    text-align: center;
}
